.chart-container {
    width: 1000px;
    height:600px
}

.chart-container {
      height: 245px;
      width: 245px;
    }

#info-pane {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 400;
  padding: 1em;
  background: white;
}